h1 {
  text-align: center;
}
figure {
  padding: 0.5rem;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto 1.5em;
}
blockquote {
  position: relative;
  padding: 1em 2em;
  margin: 0 auto;
}
figcaption {
  font-style: italic;
}
.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 2em;
}
.buttonsWrapper button {
  padding: 0.25em 1em;
  cursor: pointer;
  background-color: unset;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
